<% include partials/header %>

<div>
  <h3>Create program</h3>
</div>
<form method="post" action="/program/new">
  <div>
    <label>Name</label>
    <input type="text" placeholder="Name" name="name">
  </div>
  <div>
    <label>Description</label>
    <input type="text" placeholder="Description" name="description">
  </div>
  <div>
    <label>Exercise</label>
    <select name="exercise">
      <% exercises.forEach(function(exercise) { %>
        <option value="<%= exercise._id %>"><%= exercise.name %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <label>Exercise</label>
    <select name="exercise">
      <% exercises.forEach(function(exercise) { %>
        <option value="<%= exercise._id %>"><%= exercise.name %></option>
      <% }); %>
    </select>
  </div>
  <div>
    <input type="submit" value="Create a program!"/>
  </div>
</form>

<h3>Your Exercises</h3>
<% if (!exercises.length < 1) { %>
  <ul>
  <% exercises.forEach(function(exercise) { %>
    <%- include('components/exercise-list-view', {exercise: exercise}); %>
  <% }); %>
  </ul>
<% } %>

<h3>Your Programs</h3>
<% if (!programs.length < 1) { %>
  <ul>
  <% programs.forEach(function(program) { %>
    <%- include('components/program-list-view', {program: program}); %>
  <% }); %>
  </ul>
<% } %>

<% include partials/footer %>
