<% include partials/header %>

<a href="/user">Go back</a>

<h2>Workout details for your workout completed on <%= workout.date %></h2>

<ul class="list-group">
<% exercises.forEach(exercise => { %>
  <li class="list-group-item">
    <a href="/exercise/detail/<%= exercise._id %>"><%= exercise.name %></a>
    <% exercise.exerciseHistory.forEach(i => { %>
      <% i.dataHistory.forEach(set => { %>
        <p><%= set.repetitions %> reps at <%= set.weight %> lbs. Est. 1RM: <%= set.oneRepMax %></p>
      <% }); %>
    <% }); %>
  </li>
<% }); %>
</ul>

<% include partials/footer %>
